<%= stylesheet_link_tag 'spc_default' %>
<%= javascript_include_tag 'jquery' %>
<%= include_tiny_mce_if_needed %>

<% flash.each  do |key, msg| %>
	<div class="flash_<%=key%>">
		<div class="flash_close_button">
			<a href="#" onclick="$('.flash_<%=key%>').hide(); return false">X</a>
		</div>
		<%=msg%>
	</div>
<% end %>
		
<%# Prints the content of the view %>
<%= yield %>
